body {
  background-color: rgb(17, 17, 17);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.grid div {
  width: 40px;
  height: 40px;
  background-color: brown;
}

.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

#start {
  padding: 10px;
  width: 80px;
  font-size: 25px;
  background-color: chartreuse;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid chartreuse;
  border-radius: 10px;
}

#rotate {
  padding: 10px;
  width: 250px;
  font-size: 25px;
  background-color: chartreuse;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid chartreuse;
  border-radius: 10px;
}

#whose-go {
  color: chartreuse;
  font-size: 35px;
}

.hidden-info {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.grid-display {
  width: 400px;
  height: 400px;
  background-color: yellow;
  margin: 0 auto;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: orange;
  margin: 10px;
  display: flex;
}

.ship div {
  width: 40px;
  height: 40px;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: pink;
  margin: 10px;
  display: flex;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: purple;
  margin: 10px;
  display: flex;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: aqua;
  margin: 10px;
  display: flex;
}

.carrier-container {
  width: 200px;
  height: 40px;
  background-color: green;
  margin: 10px;
  display: flex;
}
