// sizes
$full: 100%;
$xxl: 90%;
$large: 80%;
$medium: 60%;
$small: 30%;

// colors
$whiteColor: white;
$grey-brownColor: #333;
$blueColor: #369;
$light-grey: #EEEEEE;
$hoverColor: #900;
$footerColor: #585858;
