* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: url(images/body.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 40px;
  padding: 20px 10px;
  width: 50%;
  height: auto;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow:scroll;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

form input {
  height: 30px;
  width: 400px;
}

.header h1 {
  font-size: 50px;
  color: rgb(58, 5, 46);
  text-align: center;
}

#submit-btn {
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 70px;
  border-radius: 50%;
  color: beige;
  margin-top: 30px;
  border: 2px solid crimson;
  background-color: crimson;
  cursor: pointer;
}

#priority,
#dueDate {
  height: 30px;
}

.todo-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding: 5px 10px;
  margin: 10px 0;
  height: 40px;
  background-color: rgb(58, 5, 46);
  color: white;
  font-size: 20px;
}


.table{
  overflow-x: auto;
}

#tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.edit {
  background-image: url(images/edit.svg);
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 1px solid #efefef;
}

.delete {
  height: 33px;
  width: 33px;
  font-size: 30px;
  background-color: red;
  border: 1px solid red;
  color: #efefef;
  cursor: pointer;
}

td {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  background-color: #efefef;
  color: black;
  border: 1px dotted rgb(221, 12, 169);
}


/*Media Queries*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 100%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .container {
    width: 100%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 50%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container {
    width: 50%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    width: 50%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    width: 50%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .container {
    width: 50%;
  }
}

/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  .container {
    width: 50%;
  }
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px),
  only screen and (-webkit-device-pixel-ratio: 2) {
  .container {
    width: 50%;
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px),
  only screen and (-webkit-device-pixel-ratio: 3) {
  .container {
    width: 50%;
  }
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
  and (min-resolution: 192dpi) and (max-width: 640px) {
  .container {
    width: 50%;
  }
}

@media only screen and (max-device-width: 846px) {
  .container {
    width: 100%;
  }
}

