/* ?      custom properties     */
:root {
	--font-size-section-subtitle: 1rem;
	--font-size-title: 0.875rem;
	--font-size-paragraph: 0.75rem;

	--font-size-sub-div-title: 0.75rem;
	--font-size-sub-div-par: 0.85rem;

	--text-color-orange: #f42;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

button {
	background-color: unset;
	border: none;
	outline: none;
}

button:hover {
	cursor: pointer;
}

/* img {
	width: 100%;
	object-fit: cover;
} */

section {
	margin-top: 4em;
}

h3 {
	font-size: var(--font-size-title);
	color: #3f3d3d;
	font-family: helvetica;
}

p {
	font-size: var(--font-size-paragraph);
}

a {
	text-decoration: none;
	color: unset;
}

/* ?								header							 */
header {
	position: sticky;
	width: 100%;
	top: -2.1em;
}

.nav-top-mobile {
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: cornflowerblue;
}

@media (min-width: 780px) {
	.nav-top-mobile {
		display: none;
	}
}

.logo {
	background-color: black;
	width: 110px;
}

.search-icon {
	width: 30px;
	height: 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.281);
}

.hamburger {
	width: 24px;
	height: 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.281);
}

.yellow-add {
	background-color: rgb(248, 235, 48);
	padding: 0.5em 1em;
}

/* ?						desktop		navbar							 */
/*NavBar I */

.nav-top-desktop,
.second {
	display: none;
}
@media (min-width: 780px) {
	.nav-top-desktop {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: black;
	}

	.nav-top-desktop ul {
		display: flex;
		padding: 5px;
		align-items: center;
		height: 32px;
	}

	.nav-top-desktop li {
		list-style: none;
		color: #ffffff99;
		font-size: 13px;
		font-family: helvetica;
		padding: 5px;
	}

	/*Navbar II */
	.second {
		display: flex;
		justify-content: space-between;
		padding: 0 0.5em;
		background-color: white;
	}

	.second ul {
		display: flex;
		padding: 5px 0;
		align-items: center;
	}

	.second li {
		list-style: none;
		color: #413f3f99;
		font-size: 13px;
		font-family: helvetica;
		padding: 5px;
	}

	#search-second {
		width: 30px;
	}
}

/* ?                  main               */

main {
	margin: 0 0.5em;
}

/* ?                  top-articles               */
.top-articles {
	margin-top: unset;
}

.top-article-image {
	width: 100%;
	/* height: 300px; */
	object-fit: cover;
}

@media (min-width: 780px) {
	.top-articles {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(2, 1fr);
		/* grid-template-rows: repeat(2, 20vh); */
		/* gap: 0.5em; */
		gap: 5px 8px;

		/* height: 500px; */
	}

	.top-article-image {
		/* height: 101%; */
	}

	.top-article-image-main {
		grid-column: span 1;
		grid-row: span 2;
		height: 57vh;
		/* height: 41vw; */
		object-fit: fill;
	}

	.top-article-image-second {
		grid-column: 2;
		grid-row: 1;
		height: 28vh;
		object-fit: fill;
	}
	.top-article-image-third {
		grid-column: 2;
		grid-row: 2;
		height: 28vh;
		object-fit: fill;
	}
}

/* ?            latest news section          */

.section-title {
	margin: 1em 0;
	color: var(--text-color-orange);
	font-weight: 900;
}

.latest-news-img {
	width: 65px;
	height: 70px;
	object-fit: cover;
}

.latest-news-article {
	margin: 1em 0;
	display: flex;
	gap: 1em;
	align-items: flex-start;
	justify-content: center;
}

.latest-title {
	line-height: 1.2;
	margin-bottom: 0.5em;
}

.latest-subtitle {
	color: grey;
}

@media (min-width: 780px) {
	.section-title {
		margin: 0;
	}
	.latest-news-desktop {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 0 1em;
	}
	.latest-news-article {
		flex-direction: column;
		margin: 0;
	}

	.latest-news-img-desktop {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/*?                   latest funding section              */

.section-link-list {
	list-style: none;
}

.section-link {
	font-size: var(--font-size-section-subtitle);
	color: var(--text-color-orange);
}

@media (min-width: 780px) {
	.section-link-list {
		margin: 1em 0;
		display: flex;
		gap: 0 1em;
	}
	.section-link-middle-item {
		border-left: 1px solid var(--text-color-orange);
		border-right: 1px solid var(--text-color-orange);
		padding: 0 1em;
	}

	.latest-funding-desktop-title-container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.latest-funding-desktop-body-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 0 1em;
	}
}

/* ?								hard-fork-container					 */

.hard-fork-container {
	margin-top: 2em;
}

.sub-div {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff4f2;
	color: var(--text-color-orange);
}

.sub-div-text {
	padding: 1em;
}

.sub-div-title {
	font-size: var(--font-size-sub-div-title);
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sub-div-par {
	font-size: var(--font-size-sub-div-par);
	font-weight: 700;
}

.hard-fork-list {
	margin: 1em;
}

.hard-ford-list-item {
	font-size: var(--font-size-sub-div-par);
	color: #5c5c5c;
	padding: 0.8em 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.hard-fork-main-image {
	width: 100%;
	height: 60vw;
	object-fit: cover;
}

@media (min-width: 780px) {
	.middle-section-desktop-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 0 1em;
	}

	.hard-fork-main-image {
		height: 250px;
	}
}

/* ?										Latest 	Deals											 */

.section-title-div {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.section-subtitle {
	color: var(--text-color-orange);
	font-size: var(--font-size-sub-div-par);
}

@media (min-width: 780px) {
	.section-title {
		margin: 0;
	}
	.latest-deals-desktop {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1.5em;
	}
	.latest-news-article {
		flex-direction: column;
		margin: 0;
	}

	.latest-deals-img-desktop {
		width: 100%;
		height: 200px;
	}
}

@media (min-width: 780px) {
	.latest-news,
	.middle-section-desktop-container,
	.latest-funding,
	.latest-deals {
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media (min-width: 780px) {
	.desktop-left-right-margins {
		max-width: 1147px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* ?                  Footer                      */

footer {
	margin-top: 4em;
	text-align: center;
	position: relative;
	z-index: 4;
	padding: 0;
	border: 0;
	display: block;
	background-color: #131313;
	font-family: helvetica;
}

.fa {
	padding: 10px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background: #333333;
	color: white;
}
/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}
.footer-links-social {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
}
.footer-links-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	justify-content: center;
	padding-bottom: 40px;
}
.footer-links-menu a {
	text-decoration: none;
	font-size: 12px;
	color: #aaaaaa;
	padding: 5px;
}
.footer-links-social li,
.footer-links-menu li {
	padding: 3px;
	list-style: none;
}
.footer-legal-logoTNW {
	width: 47px;
	height: 9px;
}
.footer-legal-logoStackPath {
	width: 75px;
	height: 9px;
}
.footer-legal {
	background-color: black;
	color: #aaaaaa;
	font-size: 13px;
	padding: 2.5em 0;
	text-align: center;
	line-height: 19px;
}