* {
  font-family: helvetica;
  margin: auto;
}

/*Navbar */

#logo {
  width: 195px;
  margin-left: 460px;
  margin-top: 10px;
}

.btn {
  float: right;
  width: 200px;
  height: 32px;
  padding: 5px;
}

input {
  border: 1px solid #326891;
  background-color: #567b95;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  height: 32px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  padding: 10px;
}

.navbar {
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  height: 42px;
  position: fixed;
  overflow: hidden;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin-left: 22px;
  vertical-align: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

#menu {
  margin-left: 15px;
  width: 18px;
  height: 18px;
  vertical-align: 5px;
  cursor: pointer;
}

#search {
  margin-left: 20px;
  width: 19px;
  height: 19px;
  vertical-align: 5px;
  cursor: pointer;
}

.advertisement {
  padding-top: 37px;
}

/*Article*/

h1 {
  color: #121212;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight:700;
  font-style: italic;
  margin-left: 300px;
  vertical-align: baseline;
  line-height: 3rem;
  margin-top: 50px;
  transform: scale(0.7, 1.0);
}


#btnstart {
  padding: 10px;
  margin-left: -25px;
  cursor: pointer;
}

.social {
  border-top: 1px solid lightgrey;
  width: 33%;
  margin-top: 20px;
  margin-left: 490px;
}

.main img {
  width: 1200px;
  height: 675px;
  margin-left: 190px;
}

figcaption {
  color: rgb(71, 70, 70);
  padding: 2px;
  text-align: left;
  margin-left: 190px;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

figcaption span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: grey;
}

.article {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #333;
  font-family: helvetica;
  margin-left: 440px;
  padding: 40px;
}

#date {
  font-family: helvetica;
  font-size: small;
  font-weight: lighter;
}

/*Article's sign-up*/

.sign-up-articles {
  border-top: 1px solid lightgrey;
  width: 39%;
  margin-left: 480px;
  padding: 10px;
  display: flex;
}

.sign-up {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  line-height: 1.125rem;
  letter-spacing: 0.03rem;
  color: rgb(51, 51, 51);
}

#sign-up-article {
  font-family: georgia;
  font-size: 16px;
  font-weight: lighter;
  color: rgb(51, 51, 51);
}

#signup-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 15px;
  margin-left: 20px;
}

#signup-button:hover {
  background-color: black;
  color: white;
}

/*Main Article*/

.article-body {
  width: 39%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.article-body p {
  font-family: georgia;
}

#advertisement1 {
  width: 1580px;
  height: 329px;
}

.article-middle {
  width: 38%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.article-middle p {
  font-family: georgia;
}

.free-articles {
  font-family: helvetica;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.free-articles a {
  color: #326891;
  text-decoration: none;
}

.free-articles .free-articles-top {
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 0px auto 1.125rem;
}

.free-articles .free-articles-bottom {
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 1.125rem auto 0;
}

.article-middle1 {
  width: 38%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.article-middle1 p {
  font-family: georgia;
}

.article-middle1 a {
  font-family: georgia;
  color: #326891;
}

.article-middle1 a:hover {
  text-decoration: none;
}

.article-middle2 {
  width: 38%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}


.editors-picks {
  float: right;
  padding-right: 200px;
}
.article-middle2 p {
  font-family: georgia;
}
h4 {
  font-family: georgia;
}

.inflation {
  width: 997px;
  height: 713px;
  text-align: center;
}

.article-middle3 {
  width: 38%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.article-middle3 p {
  font-family: georgia;
}

.article-middle4 {
  width: 38%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.article-middle4 p {
  font-family: georgia;
}

.article-middle4 a {
  font-family: georgia;
  color: #326891;
  text-decoration: underline;
}

.article-middle4 a:hover {
  text-decoration: none;
}

iframe {
  margin-left: 500px;
  width: 560px;
  height: 315px;
}

#video {
 margin-left:500px;
}

.article-image {
  text-align:center;
}

.article-image figcaption {
  margin-left:430px;
}

figcaption span {
  color: #454444;
}

.article-middle5 {

  width: 38%;
  margin: 10px auto;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.875rem;
}


.article-middle5 p {
  font-family: georgia;
}

.article-footer {
  width: 600px;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #454444;
  margin: 0 auto 1rem;
}

.article-footer p > a {
  color: #454444;
  text-decoration: underline solid #454444;
}

.article-footer p > a:hover, 
.article-footer p > a:focus, 
.article-footer p > a:active {
  color:#454444;
  text-decoration: none;
}

.buttonslast {
 text-align:center;
}

.suggested {
  text-align:center;
}

#editorspicks {
  margin-right:370px;
}

/*Footer I*/


.masthead-logo {
  margin-left:0;
}

.other-nav-links::before {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: '';
  display: block;
  height: 4.5px;
  margin-top: 0;
}

.other-nav-links {
  padding: 0 3rem;
}

.other-nav-links_header {
  display: flex;
}

.other-nav-links_header .homepage-link {
  margin: 1.125rem 0 0 auto;
}

.homepage-link .homepage {
  color: rgb(86, 123, 149);
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.all-links {
  display: inline-flex;
  gap: 3rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.all-links_grid a {

  text-decoration: none;
  color:black;
}

.all-links_grid li {
  list-style-type: none;
}

.all-links_grid a:hover {
  text-decoration: underline;
}


.all-links_grid,
.subscribe {
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625;
  margin-top: 1rem;
}

.all-links .all-links_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
}

.subscribe a {
  text-decoration: none;
  color:black;
}

.subscribe li {
  list-style-type: none;
}

.subscribe a:hover {
  text-decoration: underline;
}

.all-links_grid > ul > h3,
.subscribe > ul> h3 {
    font-size: 13px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin-bottom: .625rem;
}


.all-links .subscribe {
  padding-left: 1rem;
  border-left: 1px solid rgb(226, 226, 226);
}

.all-links .subscribe .subscribe_svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.all-links .subscribe ul:nth-child(2),
.all-links .subscribe ul:nth-child(3) {
  font-size: 11px;
  padding-top: 1rem;
  line-height: 2.1;
}

.all-links .subscribe ul:first-child > li {
  font-size: 16px;
  font-weight: 700;
}

.all-links .subscribe ul:nth-child(3) {
  border-top: 1px solid rgb(226, 226, 226);
}

/* Footer II */
nav.footer-nav {
  margin: 0 3rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
  text-align: center; 
}

.footer-nav .footer-nav_wrapper,
.footer-nav .footer-nav_wrapper ul,
.footer-nav .footer-nav_wrapper ul > li {
  display: inline-block;
}

.footer-nav .footer-nav_wrapper ul {
  margin-bottom: 1rem;
}

.footer-nav .footer-nav_wrapper ul > li {
  padding: 0 .325rem;
}

.footer-nav .footer-nav_wrapper ul > li > a {
  padding: .5625rem 0;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  color:#454444; 
  text-decoration: none;
}

.footer-nav .footer-nav_wrapper ul > li > a:hover {
  text-decoration: underline;
}



